@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .App {
    @apply bg-slate-600 min-h-[100vh];
  }

  .select-item {
    @apply relative z-20 flex items-center justify-between w-[200px] px-[15px] sm:py-[12px] py-3 text-gray-400 text-base leading-4 bg-slate-200 outline-none hover:bg-gray-400 focus-visible:bg-gray-400 hover:text-gray-200 focus-visible:text-gray-200 transition-colors duration-200;
  }

  .select-item:not(:last-child) {
    @apply border-b border-b-gray-400;
  }

  .card-img {
    @apply object-cover h-full w-full hover:scale-105 transition-transform duration-500;
    aspect-ratio: 2/3;
  }

  .search__icon {
    @apply absolute right-3 top-1/2 w-6 h-6 -translate-y-1/2 opacity-50;
  }

  .is-short {
    @apply whitespace-nowrap overflow-hidden text-ellipsis break-words;
  }

  .dropped:last-child {
    @apply rounded-b-lg;
  }

  .not-found-img {
    background-image: url('https://cdn.pixabay.com/photo/2013/07/13/14/03/film-162029_960_720.png');
    background-position: center;
    background-size: cover;
  }
}
